LOGIN_VALID_USERNAME='Admin'
LOGIN_VALID_PASSWORD='admin123'
LOGIN_INVALID_USERNAME='Odmin'
LOGIN_INVALID_PASSWORD='Admin321'
PROD_URL='https://opensource-demo.orangehrmlive.com/web/index.php/auth/login'
DEV_URL='http://localhost:3000'